body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: #575757;
    font-weight: 800;
}

h2 {
    font-size: 45px;
    color: #575757;
    font-weight: 800;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(65, 62, 62);
    line-height: 30px;
    margin-bottom: 50px;

}

.hero {
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    margin-left: 80px;

}

.hero-txt {
    /* margin-left: 80px; */
}

.hero-img {}

.hero-img img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 50px;
    border-radius: 25px;
}


/* hero seciton end */
/* about seciton start */

.about {
    display: flex;
    margin-bottom: 80px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.about-img {
    width: 50%;
}

.about-txt {
    width: 50%;
    margin-right: 10%;
}

/* about seciton end */

/* recepies seciton start */



.recipies-txt {
    justify-content: center;
}

.recipies-img {
    display: flex;
}

.recipies-img img {
    width: 100%;
}

.reci-img-1 {
    /* width: 70%; */
    margin: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px gray;
}

.reci-img-2 {
    /*width: 70%;
    */
    margin: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px gray;
}

/* recepies seciton end */